In [8]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [9]:
dataset = pd.read_csv('./SRData.csv')

In [10]:
dataset.head()

       AMFR  OFR       SFR       PFR  Placed
0  0.453125  0.4  0.466667  0.381119       0
1  0.379310  0.4  0.466667  0.381119       1
2  0.482143  0.4  0.466667  0.381119       0
3  0.379310  0.4  0.466667  0.381119       0
4  0.482143  0.4  0.466667  0.381119       0

In [11]:
dataset.describe()

             AMFR         OFR         SFR         PFR      Placed
count  285.000000  285.000000  285.000000  285.000000  285.000000
mean     0.407010    0.410402    0.404931    0.407676    0.414035
std      0.056103    0.276559    0.095378    0.074806    0.493421
min      0.000000    0.000000    0.000000    0.381119    0.000000
25%      0.363636    0.310345    0.343066    0.381119    0.000000
50%      0.379310    0.375000    0.400000    0.381119    0.000000
75%      0.453125    0.464286    0.421875    0.381119    1.000000
max      0.500000    2.000000    0.785714    0.617647    1.000000

In [12]:
X = dataset.drop('Placed', axis=1)  
y = dataset['Placed']

In [13]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
from sklearn.tree import DecisionTreeRegressor  
regressor = DecisionTreeRegressor()  
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [15]:
y_pred = regressor.predict(X_test)

In [16]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df

     Actual  Predicted
55        1   0.400000
181       0   1.000000
92        0   0.000000
207       1   0.000000
188       1   0.000000
45        0   0.000000
111       0   0.166667
239       0   0.000000
15        0   0.333333
22        1   1.000000
267       1   1.000000
194       0   1.000000
12        0   0.400000
81        1   0.250000
63        0   0.400000
191       0   0.250000
225       1   0.500000
171       0   0.285714
201       0   0.000000
136       0   0.500000
154       0   0.333333
236       1   0.333333
101       0   0.000000
279       1   1.000000
106       0   0.625000
110       0   0.166667
218       0   0.000000
227       1   0.000000
126       0   0.000000
284       0   0.000000
213       0   0.000000
8         1   0.333333
5         0   0.333333
200       0   0.666667
90        0   0.333333
280       0   0.000000
97        1   0.000000
103       1   0.000000
7         1   1.000000
64        1   0.400000
73        0   0.250000
159       1   0.285714
179       1   0.250000
205       1   1.000000
241       1   1.000000
124       0   0.000000
158       0   0.666667
208       1   0.000000
74        1   0.250000
270       0   0.000000
59        1   0.000000
278       1   0.666667
271       0   0.000000
222       1   1.000000
76        0   0.250000
150       1   0.200000
252       1   0.000000

In [17]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.40511695906432743
Mean Squared Error: 0.3057254495365398
Root Mean Squared Error: 0.5529244519249803